In [4]:
import pandas as pd
import numpy as np

In [5]:
def compare_data(a, b, c, d, fname):
    dataA = pd.read_csv(a, index_col= False)
    dataB = pd.read_csv(b, index_col= False)
    dataC = pd.read_csv(c, index_col= False)
    dataD = pd.read_csv(d, index_col= False)
    
    if "Univariate" in a:
        dataA = dataA[~dataA['Model Category'].str.contains("AE")]
        dataB = dataB[~dataB['Model Category'].str.contains("AE")]
        dataC = dataC[~dataC['Model Category'].str.contains("AE")]
        dataD = dataD[~dataD['Model Category'].str.contains("AE")]
    
    modelCatA = dataA["Model Category"] + " " + dataA["Model"]
    modelCatB = dataB["Model Category"] + " " + dataB["Model"]
    modelCatC = dataC["Model Category"] + " " + dataC["Model"]
    modelCatD = dataD["Model Category"] + " " + dataD["Model"]
    
    loc1 = ["S1" for _ in range(0,28)]
    loc2 = ["S2" for _ in range(0,28)]
    loc3 = ["S3" for _ in range(0,28)]
    loc4 = ["S4" for _ in range(0,28)]

    r2 = pd.concat([dataA.R2, dataB.R2, dataC.R2, dataD.R2], ignore_index= True)
    rmse = pd.concat([dataA.RMSE, dataB.RMSE, dataC.RMSE, dataD.RMSE], ignore_index= True)
    mae = pd.concat([dataA.MAE, dataB.MAE, dataC.MAE, dataD.MAE], ignore_index= True)
    modelCat = pd.concat([modelCatA, modelCatB, modelCatC, modelCatD], ignore_index= True)
    loc = loc1 + loc2 + loc3 + loc4
    
    comp_data = pd.DataFrame({
    "Location" : loc,
    "Model": modelCat,
    "R2": r2,
    "RMSE": rmse,
    "MAE": mae
    })
    
    comp_data['Model'] = comp_data['Model'].str.replace('General ', '')

    comp_data.to_csv(fname, index= False)
    
    return comp_data

# DO Multivariate

In [6]:
a ='Multivariate/DOA/epochs50/metricsT.csv'
b ='Multivariate/DOB/epochs50/metricsT.csv'
c ='Multivariate/DOC/epochs50/metricsT.csv'
d ='Multivariate/DOD/epochs50/metricsT.csv'

In [7]:
do_multi = compare_data(a, b, c, d, "DOMultivariate.csv")

# DO Univariate

In [8]:
a ='Univariate/DOA/epochs50/metricsT.csv'
b ='Univariate/DOB/epochs50/metricsT.csv'
c ='Univariate/DOC/epochs50/metricsT.csv'
d ='Univariate/DOD/epochs50/metricsT.csv'

In [9]:
do_uni = compare_data(a, b, c, d, "DOUnivariate.csv")

In [10]:
do_uni.describe()

               R2        RMSE         MAE
count  112.000000  112.000000  112.000000
mean     0.973856    0.148320    0.101522
std      0.010380    0.027142    0.021461
min      0.931734    0.102678    0.071307
25%      0.971496    0.130532    0.086518
50%      0.976388    0.144694    0.095238
75%      0.980329    0.159616    0.109268
max      0.987721    0.242097    0.165012

# BOD Multivariate

In [11]:
a ='Multivariate/BODA/epochs50/metricsT.csv'
b ='Multivariate/BODB/epochs50/metricsT.csv'
c ='Multivariate/BODC/epochs50/metricsT.csv'
d ='Multivariate/BODD/epochs50/metricsT.csv'

In [12]:
bod_multi = compare_data(a, b, c, d, "BODMultivariate.csv")

In [13]:
bod_multi.describe()

               R2        RMSE         MAE
count  112.000000  112.000000  112.000000
mean     0.664509   11.109152    9.944451
std      0.503228    7.418413    7.651849
min     -1.000000    1.045444    0.777272
25%      0.587170    6.695640    4.974903
50%      0.892245    7.801775    6.172539
75%      0.943120   14.964032   14.013812
max      1.000000   33.265293   32.852323

# BOD Univariate

In [14]:
a ='Univariate/DOA/epochs50/metricsT.csv'
b ='Univariate/DOB/epochs50/metricsT.csv'
c ='Univariate/DOC/epochs50/metricsT.csv'
d ='Univariate/DOD/epochs50/metricsT.csv'

In [15]:
bod_uni = compare_data(a, b, c, d, "BODUnivariate.csv")

In [16]:
bod_uni.describe()

               R2        RMSE         MAE
count  112.000000  112.000000  112.000000
mean     0.973856    0.148320    0.101522
std      0.010380    0.027142    0.021461
min      0.931734    0.102678    0.071307
25%      0.971496    0.130532    0.086518
50%      0.976388    0.144694    0.095238
75%      0.980329    0.159616    0.109268
max      0.987721    0.242097    0.165012

# Except BOD Multivariate

In [17]:
a ='ExceptEC/Multivariate/DOA/epochs50/metricsT.csv'
b ='ExceptEC/Multivariate/DOB/epochs50/metricsT.csv'
c ='ExceptEC/Multivariate/DOC/epochs50/metricsT.csv'
d ='ExceptEC/Multivariate/DOD/epochs50/metricsT.csv'

In [18]:
except_do_multi = compare_data(a, b, c, d, "ExceptDOMultivariate.csv")

In [19]:
except_do_multi.describe()

               R2        RMSE         MAE
count  112.000000  112.000000  112.000000
mean     0.748464    0.365777    0.295812
std      0.485910    0.290291    0.253367
min     -1.000000    0.115713    0.083876
25%      0.769306    0.162884    0.122243
50%      0.931021    0.278264    0.209697
75%      0.992354    0.413770    0.340026
max      1.000000    1.630863    1.405783

# Except BOD Multivariate

In [20]:
a ='ExceptEC/Multivariate/BODA/epochs50/metricsT.csv'
b ='ExceptEC/Multivariate/BODB/epochs50/metricsT.csv'
c ='ExceptEC/Multivariate/BODC/epochs50/metricsT.csv'
d ='ExceptEC/Multivariate/BODD/epochs50/metricsT.csv'

In [21]:
except_bod_multi = compare_data(a, b, c, d, "ExceptBODMultivariate.csv")

In [22]:
except_bod_multi.describe()

               R2        RMSE         MAE
count  112.000000  112.000000  112.000000
mean     0.696316    9.618437    8.581724
std      0.470470    7.653739    7.703484
min     -1.000000    1.019382    0.753069
25%      0.546098    4.843321    3.865215
50%      0.895075    7.231442    5.333436
75%      0.954391   15.087730   14.123108
max      1.000000   31.701921   31.277946

# Data Table S1

In [23]:
multi_do = pd.read_csv("DOMultivariate.csv", index_col= False)
multi_bod = pd.read_csv("BODMultivariate.csv", index_col= False)
uni_do = pd.read_csv("DOUnivariate.csv", index_col= False)
uni_bod = pd.read_csv("BODUnivariate.csv", index_col= False)
except_do = pd.read_csv("ExceptDOMultivariate.csv", index_col= False)
except_bod = pd.read_csv("ExceptBODMultivariate.csv", index_col= False)

In [24]:
multi_do

    Location               Model        R2      RMSE       MAE
0         S1                 CNN -2.963575  1.821303  1.574988
1         S1                 RNN -0.547005  1.137849  0.933067
2         S1                 GRU -0.008017  0.918486  0.790700
3         S1                LSTM -0.005486  0.917332  0.792904
4         S1              MA CNN -1.713353  1.506925  1.187114
..       ...                 ...       ...       ...       ...
107       S4  MA HY LSTM RNN GRU  0.899399  0.290162  0.211525
108       S4   MA HY CNN RNN GRU -0.056895  0.940491  0.769129
109       S4       MA HY CNN GRU -0.052094  0.938352  0.770876
110       S4       MA HY RNN GRU  0.850191  0.354086  0.281038
111       S4      MA HY RNN LSTM  0.875270  0.323091  0.229361

[112 rows x 5 columns]

In [25]:
multi_doS1 = multi_do[multi_do['Location'].str.contains('S1')]
multi_doS2 = multi_do[multi_do['Location'].str.contains('S2')]
multi_doS3 = multi_do[multi_do['Location'].str.contains('S3')]
multi_doS4 = multi_do[multi_do['Location'].str.contains('S4')]

multi_bodS1 = multi_bod[multi_bod['Location'].str.contains('S1')]
multi_bodS2 = multi_bod[multi_bod['Location'].str.contains('S2')]
multi_bodS3 = multi_bod[multi_bod['Location'].str.contains('S3')]
multi_bodS4 = multi_bod[multi_bod['Location'].str.contains('S4')]

uni_doS1 = uni_do[uni_do['Location'].str.contains('S1')]
uni_doS2 = uni_do[uni_do['Location'].str.contains('S2')]
uni_doS3 = uni_do[uni_do['Location'].str.contains('S3')]
uni_doS4 = uni_do[uni_do['Location'].str.contains('S4')]

uni_bodS1 = uni_bod[uni_bod['Location'].str.contains('S1')]
uni_bodS2 = uni_bod[uni_bod['Location'].str.contains('S2')]
uni_bodS3 = uni_bod[uni_bod['Location'].str.contains('S3')]
uni_bodS4 = uni_bod[uni_bod['Location'].str.contains('S4')]

except_doS1 = except_do[except_do['Location'].str.contains('S1')]
except_doS2 = except_do[except_do['Location'].str.contains('S2')]
except_doS3 = except_do[except_do['Location'].str.contains('S3')]
except_doS4 = except_do[except_do['Location'].str.contains('S4')]

except_bodS1 = except_bod[except_bod['Location'].str.contains('S1')]
except_bodS2 = except_bod[except_bod['Location'].str.contains('S2')]
except_bodS3 = except_bod[except_bod['Location'].str.contains('S3')]
except_bodS4 = except_bod[except_bod['Location'].str.contains('S4')]

In [26]:
def convert_series_to_range(series):
    series_min = np.min(series)
    series_max = np.max(series)
    new_min = -1
    new_max = 1
    converted_series = [(2 * (value - series_min) / (series_max - series_min)) - 1 for value in series]
    return converted_series

conv_r2 = convert_series_to_range(multi_doS1.R2)
multi_doS1["R2"] = conv_r2
conv_r2 = convert_series_to_range(multi_doS2.R2)
multi_doS2["R2"] = conv_r2
conv_r2 = convert_series_to_range(multi_doS3.R2)
multi_doS3["R2"] = conv_r2
conv_r2 = convert_series_to_range(multi_doS4.R2)
multi_doS4["R2"] = conv_r2

/tmp/ipykernel_6042/1801550963.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_doS1["R2"] = conv_r2
/tmp/ipykernel_6042/1801550963.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_doS2["R2"] = conv_r2
/tmp/ipykernel_6042/1801550963.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_doS3["R2"] = conv_r2
/tmp/ipykernel_6042/1801550963.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_doS4["R2"] = conv_r2

In [27]:
def data_genR2(mulDO, mulBOD, uniDO, uniBOD, exDO, exBOD, fname):
    data = pd.DataFrame({
        "Location": mulDO.Location,
        "Model": mulDO.Model,
        "Multivariate DO": mulDO.R2,
        "Multivariate BOD": mulBOD.R2,
        "Univariate DO": uniDO.R2,
        "Univariate BOD": uniBOD.R2,
        "Except DO": exDO.R2,
        "Except BOD": exBOD.R2
    })
    
    t = data.T
    t.columns = t.iloc[1]
    t = t.iloc[2:-2]
    t = t.reset_index(drop = True)

    data.to_csv(fname, index= False)
    t.to_csv(f"T/{fname}", index= False)
    return data, t

def data_genRMSE(mulDO, mulBOD, uniDO, uniBOD, exDO, exBOD, fname):
    data = pd.DataFrame({
        "Location": mulDO.Location,
        "Model": mulDO.Model,
        "Multivariate DO": mulDO.RMSE,
        "Multivariate BOD": mulBOD.RMSE,
        "Univariate DO": uniDO.RMSE,
        "Univariate BOD": uniBOD.RMSE,
        "Except DO": exDO.RMSE,
        "Except BOD": exBOD.RMSE
    })
    
    t = data.T
    t.columns = t.iloc[1]
    t = t.iloc[2:-2]
    t = t.reset_index(drop = True)

    data.to_csv(fname, index= False)
    t.to_csv(f"T/{fname}", index= False)
    return data, t


def data_genMAE(mulDO, mulBOD, uniDO, uniBOD, exDO, exBOD, fname):
    data = pd.DataFrame({
        "Location": mulDO.Location,
        "Model": mulDO.Model,
        "Multivariate DO": mulDO.MAE,
        "Multivariate BOD": mulBOD.MAE,
        "Univariate DO": uniDO.MAE,
        "Univariate BOD": uniBOD.MAE,
        "Except DO": exDO.MAE,
        "Except BOD": exBOD.MAE
    })
    
    t = data.T
    t.columns = t.iloc[1]
    t = t.iloc[2:-2]
    t = t.reset_index(drop = True)

    data.to_csv(fname, index= False)
    t.to_csv(f"T/{fname}", index= False)
    return data, t

In [34]:
fname1 = "compare/S1CompareR2.csv"
fname2 = "compare/S2CompareR2.csv"
fname3 = "compare/S3CompareR2.csv"
fname4 = "compare/S4CompareR2.csv"

r21, t1 = data_genR2(multi_doS1, multi_bodS1, uni_doS1, uni_bodS1, except_doS1, except_bodS1, fname1)
r22, t2 = data_genR2(multi_doS2, multi_bodS2, uni_doS2, uni_bodS2, except_doS2, except_bodS2, fname2)
r23, t3 = data_genR2(multi_doS3, multi_bodS3, uni_doS3, uni_bodS3, except_doS3, except_bodS3, fname3)
r24, t4 = data_genR2(multi_doS4, multi_bodS4, uni_doS4, uni_bodS4, except_doS4, except_bodS4, fname4)


fname1 = "compare/S1CompareRMSE.csv"
fname2 = "compare/S2CompareRMSE.csv"
fname3 = "compare/S3CompareRMSE.csv"
fname4 = "compare/S4CompareRMSE.csv"

rmse1 = data_genRMSE(multi_doS1, multi_bodS1, uni_doS1, uni_bodS1, except_doS1, except_bodS1, fname1)
rmse2 = data_genRMSE(multi_doS2, multi_bodS2, uni_doS2, uni_bodS2, except_doS2, except_bodS2, fname2)
rmse3 = data_genRMSE(multi_doS3, multi_bodS3, uni_doS3, uni_bodS3, except_doS3, except_bodS3, fname3)
rmse4 = data_genRMSE(multi_doS4, multi_bodS4, uni_doS4, uni_bodS4, except_doS4, except_bodS4, fname4)


fname1 = "compare/S1CompareMAE.csv"
fname2 = "compare/S2CompareMAE.csv"
fname3 = "compare/S3CompareMAE.csv"
fname4 = "compare/S4CompareMAE.csv"

mae1 = data_genMAE(multi_doS1, multi_bodS1, uni_doS1, uni_bodS1, except_doS1, except_bodS1, fname1)
mae2 = data_genMAE(multi_doS2, multi_bodS2, uni_doS2, uni_bodS2, except_doS2, except_bodS2, fname2)
mae3 = data_genMAE(multi_doS3, multi_bodS3, uni_doS3, uni_bodS3, except_doS3, except_bodS3, fname3)
mae4 = data_genMAE(multi_doS4, multi_bodS4, uni_doS4, uni_bodS4, except_doS4, except_bodS4, fname4)

In [29]:
r21, t1 = data_genR2(multi_doS1, multi_bodS1, uni_doS1, uni_bodS1, except_doS1, except_bodS1, fname1)

In [39]:
def models(d, s):
    cnn = d.filter(like="CNN")
    rnn = d.filter(like="RNN")
    gru = d.filter(like="GRU")
    lstm = d.filter(like="LSTM")
    cnn.to_csv(f"T/compare/{s}cnn.csv", index= False)
    rnn.to_csv(f"T/compare/{s}rnn.csv", index= False)
    gru.to_csv(f"T/compare/{s}gru.csv", index= False)
    lstm.to_csv(f"T/compare/{s}lstm.csv", index= False)

In [40]:
models(t1, "S1")
models(t2, "S2")
models(t3, "S3")
models(t4, "S4")

In [ ]:
cnn = t.filter(like="CNN")
rnn = t.filter(like="RNN")
gru = t.filter(like="GRU")
lstm = t.filter(like="LSTM")

In [ ]:
def save_data(d, fn):
    d.to_csv(f"T/compare/S1{fn}.csv", index= False)
    
save_data(cnn, "cnn")
save_data(rnn, "rnn")
save_data(gru, "gru")
save_data(lstm, "lstm")

In [37]:
model_l = pd.concat([t1, t2, t3, t4])
model_l

Model,CNN,RNN,GRU,LSTM,MA CNN,MA RNN,MA GRU,MA LSTM,DReg CNN,DReg RNN,...,HY CNN RNN GRU,HY CNN GRU,HY RNN GRU,HY RNN LSTM,MA HY CNN LSTM,MA HY LSTM RNN GRU,MA HY CNN RNN GRU,MA HY CNN GRU,MA HY RNN GRU,MA HY RNN LSTM
0,-1.0,0.225005,0.498228,0.499511,-0.366239,0.975869,0.932644,0.689839,0.443823,0.994957,...,0.481076,0.483858,0.997742,0.99819,0.47174,0.91853,0.505288,0.475167,0.929695,0.921475
1,-1.0,0.959947,-0.764541,-0.617354,0.968505,0.940808,1.0,0.993465,0.817896,0.937032,...,0.989816,0.560049,0.664148,0.616123,0.61248,0.953354,0.989473,0.605422,0.588219,0.613077
2,0.97852,0.977677,0.980319,0.975114,0.944473,0.958381,0.978175,0.971871,0.974814,0.976492,...,0.969626,0.975784,0.974132,0.97824,0.972914,0.975696,0.94802,0.968662,0.970043,0.948924
3,0.97852,0.977677,0.980319,0.975114,0.944473,0.958381,0.978175,0.971871,0.974814,0.976492,...,0.969626,0.975784,0.974132,0.97824,0.972914,0.975696,0.94802,0.968662,0.970043,0.948924
0,-1.0,0.815352,0.851263,0.858218,0.658958,0.989164,0.988142,0.974682,0.830219,0.999822,...,0.843955,0.847189,1.0,0.99963,0.845131,0.986399,0.844459,0.843809,0.996758,0.98979
1,0.990814,0.888836,-0.98303,-1.0,0.969241,0.898502,0.972439,0.976728,0.866639,0.881938,...,0.954525,0.499192,0.540138,0.590723,0.528269,0.90792,0.9539,0.526648,0.547681,0.553008
2,0.975992,0.977873,0.977559,0.972939,0.959594,0.965323,0.976993,0.971482,0.973083,0.976332,...,0.976444,0.978525,0.976863,0.974886,0.970704,0.976487,0.965236,0.967606,0.962151,0.971726
3,0.975992,0.977873,0.977559,0.972939,0.959594,0.965323,0.976993,0.971482,0.973083,0.976332,...,0.976444,0.978525,0.976863,0.974886,0.970704,0.976487,0.965236,0.967606,0.962151,0.971726
0,-1.0,0.357016,0.490839,0.549043,-0.00148,0.986938,0.861406,0.913824,-0.815973,0.998022,...,0.471445,0.465586,0.996646,0.999281,0.465399,0.861586,0.464162,0.464663,0.979934,0.952538
1,-1.0,0.908987,-0.717497,-0.611399,0.932881,0.900115,0.95941,0.988487,0.841118,0.912813,...,0.946485,0.589724,0.592151,0.569423,0.552793,0.913123,0.946716,0.60647,0.610293,0.539277
2,0.980361,0.981324,0.984904,0.982301,0.968739,0.957978,0.985587,0.982112,0.981668,0.976981,...,0.983767,0.984889,0.984615,0.985127,0.977414,0.978362,0.957945,0.982824,0.975232,0.974519
3,0.980361,0.981324,0.984904,0.982301,0.968739,0.957978,0.985587,0.982112,0.981668,0.976981,...,0.983767,0.984889,0.984615,0.985127,0.977414,0.978362,0.957945,0.982824,0.975232,0.974519
0,-1.0,0.643052,0.577611,0.594117,-0.732563,0.97259,0.923446,0.710499,-0.593036,0.996142,...,0.56268,0.574481,0.998321,0.99877,0.565469,0.966195,0.566768,0.568773,0.945642,0.956117
1,0.998111,0.910635,-1.0,-0.671642,0.928226,0.886042,0.949476,0.951359,0.813176,0.893668,...,0.943219,0.463047,0.51053,0.489028,0.596839,0.903194,0.943087,0.499913,0.511386,0.502881
2,0.97957,0.986368,0.985565,0.975873,0.931734,0.945205,0.981457,0.972324,0.973374,0.987721,...,0.978944,0.982279,0.985898,0.984499,0.973924,0.969788,0.935752,0.954702,0.964151,0.957611
3,0.97957,0.986368,0.985565,0.975873,0.931734,0.945205,0.981457,0.972324,0.973374,0.987721,...,0.978944,0.982279,0.985898,0.984499,0.973924,0.969788,0.935752,0.954702,0.964151,0.957611

In [41]:
models(model_l, "Merged")