In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## DO

In [3]:
doA = pd.read_csv('DOA/epochs50/metricsT.csv', index_col= False)
doB = pd.read_csv('DOB/epochs50/metricsT.csv', index_col= False)
doC = pd.read_csv('DOC/epochs50/metricsT.csv', index_col= False)
doD = pd.read_csv('DOD/epochs50/metricsT.csv', index_col= False)

In [4]:
loc1 = ["S1" for _ in range (0,28)]
loc2 = ["S2" for _ in range (0,28)]
loc3 = ["S3" for _ in range (0,28)]
loc4 = ["S4" for _ in range (0,28)]

In [5]:
doA

   Model Category         Model       MSE       MAE        R2      RMSE
0         General           CNN  0.018155  0.087407  0.978520  0.134740
1         General           RNN  0.018867  0.085507  0.977677  0.137357
2         General           GRU  0.016634  0.079052  0.980319  0.128973
3         General          LSTM  0.021033  0.095923  0.975114  0.145029
4              MA           CNN  0.046931  0.136288  0.944473  0.216635
5              MA           RNN  0.035177  0.139802  0.958381  0.187554
6              MA           GRU  0.018446  0.085054  0.978175  0.135816
7              MA          LSTM  0.023774  0.101672  0.971871  0.154189
8            DReg           CNN  0.021287  0.083789  0.974814  0.145901
9            DReg           RNN  0.019869  0.090171  0.976492  0.140956
10           DReg           GRU  0.016041  0.078819  0.981021  0.126652
11           DReg          LSTM  0.020619  0.093118  0.975604  0.143594
12        MA DReg           CNN  0.023713  0.090836  0.971944  0.153989
13        MA DReg           RNN  0.030256  0.104913  0.964202  0.173943
14        MA DReg           GRU  0.016600  0.077712  0.980360  0.128841
15        MA DReg          LSTM  0.021869  0.092319  0.974125  0.147882
16             AE           CNN  0.175490  0.291978  0.792367  0.418915
17             AE           RNN  0.333091  0.396551  0.605900  0.577140
18             AE           GRU  0.207554  0.358179  0.754430  0.455581
19             AE          LSTM  0.302540  0.407874  0.642046  0.550037
20          AE MA           CNN  0.107609  0.181817  0.872681  0.328039
21          AE MA           RNN  0.135535  0.222132  0.839640  0.368151
22          AE MA           GRU  0.486464  0.573885  0.424435  0.697469
23          AE MA          LSTM  0.576411  0.604213  0.318013  0.759217
24        AE DReg           CNN  0.219168  0.343414  0.740689  0.468153
25        AE DReg           RNN  0.245424  0.341580  0.709624  0.495403
26        AE DReg           GRU  0.224408  0.380192  0.734489  0.473717
27        AE DReg          LSTM  0.499326  0.553021  0.409216  0.706630
28     AE MA DReg           CNN  0.111373  0.184613  0.868227  0.333727
29     AE MA DReg           RNN  0.399022  0.488418  0.527892  0.631682
30     AE MA DReg           GRU  0.417500  0.501408  0.506031  0.646142
31     AE MA DReg          LSTM  0.224055  0.369469  0.734907  0.473344
32             HY      CNN LSTM  0.024848  0.096290  0.970601  0.157633
33             HY  LSTM RNN GRU  0.017208  0.083161  0.979640  0.131180
34             HY   CNN RNN GRU  0.025672  0.094580  0.969626  0.160224
35             HY       CNN GRU  0.020467  0.085702  0.975784  0.143064
36             HY       RNN GRU  0.021863  0.084232  0.974132  0.147863
37             HY      RNN LSTM  0.018391  0.086318  0.978240  0.135614
38          MA HY      CNN LSTM  0.022893  0.100570  0.972914  0.151303
39          MA HY  LSTM RNN GRU  0.020541  0.095414  0.975696  0.143322
40          MA HY   CNN RNN GRU  0.043933  0.148218  0.948020  0.209602
41          MA HY       CNN GRU  0.026487  0.110739  0.968662  0.162747
42          MA HY       RNN GRU  0.025319  0.112286  0.970043  0.159120
43          MA HY      RNN LSTM  0.043169  0.158072  0.948924  0.207771

In [6]:
doA = pd.concat([doA.iloc[:16], doA.iloc[32:]])
doA

   Model Category         Model       MSE       MAE        R2      RMSE
0         General           CNN  0.018155  0.087407  0.978520  0.134740
1         General           RNN  0.018867  0.085507  0.977677  0.137357
2         General           GRU  0.016634  0.079052  0.980319  0.128973
3         General          LSTM  0.021033  0.095923  0.975114  0.145029
4              MA           CNN  0.046931  0.136288  0.944473  0.216635
5              MA           RNN  0.035177  0.139802  0.958381  0.187554
6              MA           GRU  0.018446  0.085054  0.978175  0.135816
7              MA          LSTM  0.023774  0.101672  0.971871  0.154189
8            DReg           CNN  0.021287  0.083789  0.974814  0.145901
9            DReg           RNN  0.019869  0.090171  0.976492  0.140956
10           DReg           GRU  0.016041  0.078819  0.981021  0.126652
11           DReg          LSTM  0.020619  0.093118  0.975604  0.143594
12        MA DReg           CNN  0.023713  0.090836  0.971944  0.153989
13        MA DReg           RNN  0.030256  0.104913  0.964202  0.173943
14        MA DReg           GRU  0.016600  0.077712  0.980360  0.128841
15        MA DReg          LSTM  0.021869  0.092319  0.974125  0.147882
32             HY      CNN LSTM  0.024848  0.096290  0.970601  0.157633
33             HY  LSTM RNN GRU  0.017208  0.083161  0.979640  0.131180
34             HY   CNN RNN GRU  0.025672  0.094580  0.969626  0.160224
35             HY       CNN GRU  0.020467  0.085702  0.975784  0.143064
36             HY       RNN GRU  0.021863  0.084232  0.974132  0.147863
37             HY      RNN LSTM  0.018391  0.086318  0.978240  0.135614
38          MA HY      CNN LSTM  0.022893  0.100570  0.972914  0.151303
39          MA HY  LSTM RNN GRU  0.020541  0.095414  0.975696  0.143322
40          MA HY   CNN RNN GRU  0.043933  0.148218  0.948020  0.209602
41          MA HY       CNN GRU  0.026487  0.110739  0.968662  0.162747
42          MA HY       RNN GRU  0.025319  0.112286  0.970043  0.159120
43          MA HY      RNN LSTM  0.043169  0.158072  0.948924  0.207771

In [7]:
def convert_series_to_range(series):
    series_min = np.min(series)
    series_max = np.max(series)
    new_min = -1
    new_max = 1
    converted_series = [(2 * (value - series_min) / (series_max - series_min)) - 1 for value in series]
    return converted_series

conv_r2 = convert_series_to_range(doA.R2)
doA["R2"] = conv_r2
conv_r2 = convert_series_to_range(doB.R2)
doB["R2"] = conv_r2
conv_r2 = convert_series_to_range(doC.R2)
doC["R2"] = conv_r2
conv_r2 = convert_series_to_range(doD.R2)
doD["R2"] = conv_r2

In [8]:
loc = []
loc.extend(loc1)
loc.extend(loc2)
loc.extend(loc3)
loc.extend(loc4)

model_cat = []
model_cat.extend(doA["Model Category"])
model_cat.extend(doB["Model Category"])
model_cat.extend(doC["Model Category"])
model_cat.extend(doD["Model Category"])

model = []
model.extend(doA["Model"])
model.extend(doB["Model"])
model.extend(doC["Model"])
model.extend(doD["Model"])


mse = []
mse.extend(doA.MSE)
mse.extend(doB.MSE)
mse.extend(doC.MSE)
mse.extend(doD.MSE)

rmse = []
rmse.extend(doA.RMSE)
rmse.extend(doB.RMSE)
rmse.extend(doC.RMSE)
rmse.extend(doD.RMSE)

mae = []
mae.extend(doA.MAE)
mae.extend(doB.MAE)
mae.extend(doC.MAE)
mae.extend(doD.MAE)

r2 = []
r2.extend(doA.R2)
r2.extend(doB.R2)
r2.extend(doC.R2)
r2.extend(doD.R2)


data = pd.DataFrame({
    "Location" : loc,
    "Model Category": model_cat,
    "Model": model,
    "MSE": mse,
    "RMSE": rmse,
    "MAE": mae,
    "R2": r2
})

In [9]:
data

,Location,Model Category,Model,MSE,RMSE,MAE,R2
0,S1,General,CNN,0.018155,0.134740,0.087407,0.863124
1,S1,General,RNN,0.018867,0.137357,0.085507,0.817016
2,S1,General,GRU,0.016634,0.128973,0.079052,0.961587
3,S1,General,LSTM,0.021033,0.145029,0.095923,0.676746
4,S1,MA,CNN,0.046931,0.216635,0.136288,-1.000000
...,...,...,...,...,...,...,...
107,S4,MA HY,LSTM RNN GRU,0.025940,0.161058,0.115528,0.359375
108,S4,MA HY,CNN RNN GRU,0.055162,0.234865,0.165012,-0.856483
109,S4,MA HY,CNN GRU,0.038891,0.197209,0.137713,-0.179518
110,S4,MA HY,RNN GRU,0.030779,0.175440,0.133831,0.158011
111,S4,MA HY,RNN LSTM,0.036394,0.190772,0.145433,-0.075598

In [10]:
mse = data.MSE
mae = data.MAE
r2 = data.R2
rmse = data.RMSE

In [11]:
l_mse = ["MSE" for _ in range(0,112)]

msedf = pd.DataFrame({
    "Location": data.Location,
    "Metrics": l_mse,
    "Model Category": data["Model Category"],
    "Model": data.Model,
    "y": mse
})


l_mae = ["MAE" for _ in range(0,112)]

maedf = pd.DataFrame({
    "Location": data.Location,
    "Metrics": l_mae,
    "Model Category": data["Model Category"],
    "Model": data.Model,
    "y": mae
})


l_rmse = ["RMSE" for _ in range(0,112)]

rmsedf = pd.DataFrame({
    "Location": data.Location,
    "Metrics": l_rmse,
    "Model Category": data["Model Category"],
    "Model": data.Model,
    "y": rmse
})


l_r2 = ["R2" for _ in range(0,112)]

r2df = pd.DataFrame({
    "Location": data.Location,
    "Metrics": l_r2,
    "Model Category": data["Model Category"],
    "Model": data.Model,
    "y": r2
})

In [12]:
msedf

    Location Metrics Model Category         Model         y
0         S1     MSE        General           CNN  0.018155
1         S1     MSE        General           RNN  0.018867
2         S1     MSE        General           GRU  0.016634
3         S1     MSE        General          LSTM  0.021033
4         S1     MSE             MA           CNN  0.046931
..       ...     ...            ...           ...       ...
107       S4     MSE          MA HY  LSTM RNN GRU  0.025940
108       S4     MSE          MA HY   CNN RNN GRU  0.055162
109       S4     MSE          MA HY       CNN GRU  0.038891
110       S4     MSE          MA HY       RNN GRU  0.030779
111       S4     MSE          MA HY      RNN LSTM  0.036394

[112 rows x 5 columns]

In [13]:
metrics = pd.concat([msedf, rmsedf, maedf, r2df], axis=0)

In [14]:
metrics

    Location Metrics Model Category         Model         y
0         S1     MSE        General           CNN  0.018155
1         S1     MSE        General           RNN  0.018867
2         S1     MSE        General           GRU  0.016634
3         S1     MSE        General          LSTM  0.021033
4         S1     MSE             MA           CNN  0.046931
..       ...     ...            ...           ...       ...
107       S4      R2          MA HY  LSTM RNN GRU  0.359375
108       S4      R2          MA HY   CNN RNN GRU -0.856483
109       S4      R2          MA HY       CNN GRU -0.179518
110       S4      R2          MA HY       RNN GRU  0.158011
111       S4      R2          MA HY      RNN LSTM -0.075598

[448 rows x 5 columns]

In [15]:
metrics["Model"] = metrics["Model"].replace("LSTM RNN GRU", "RNN LSTM GRU")

In [16]:
metrics.reset_index(inplace=True)
metrics.drop(columns= "index")

    Location Metrics Model Category         Model         y
0         S1     MSE        General           CNN  0.018155
1         S1     MSE        General           RNN  0.018867
2         S1     MSE        General           GRU  0.016634
3         S1     MSE        General          LSTM  0.021033
4         S1     MSE             MA           CNN  0.046931
..       ...     ...            ...           ...       ...
443       S4      R2          MA HY  RNN LSTM GRU  0.359375
444       S4      R2          MA HY   CNN RNN GRU -0.856483
445       S4      R2          MA HY       CNN GRU -0.179518
446       S4      R2          MA HY       RNN GRU  0.158011
447       S4      R2          MA HY      RNN LSTM -0.075598

[448 rows x 5 columns]

In [17]:
metrics.to_csv("DOmetrics.csv", index=False)

## BOD

In [18]:
bodA = pd.read_csv('BODA/epochs50/metricsT.csv', index_col= False)
bodB = pd.read_csv('BODB/epochs50/metricsT.csv', index_col= False)
bodC = pd.read_csv('BODC/epochs50/metricsT.csv', index_col= False)
bodD = pd.read_csv('BODD/epochs50/metricsT.csv', index_col= False)

In [19]:
conv_r2 = convert_series_to_range(bodA.R2)
bodA["R2"] = conv_r2
conv_r2 = convert_series_to_range(bodB.R2)
bodB["R2"] = conv_r2
conv_r2 = convert_series_to_range(bodC.R2)
bodC["R2"] = conv_r2
conv_r2 = convert_series_to_range(bodD.R2)
bodD["R2"] = conv_r2

In [20]:
loc1 = ["S1" for _ in range (0,28)]
loc2 = ["S2" for _ in range (0,28)]
loc3 = ["S3" for _ in range (0,28)]
loc4 = ["S4" for _ in range (0,28)]

In [21]:
loc = []
loc.extend(loc1)
loc.extend(loc2)
loc.extend(loc3)
loc.extend(loc4)

model_cat = []
model_cat.extend(bodA["Model Category"])
model_cat.extend(bodB["Model Category"])
model_cat.extend(bodC["Model Category"])
model_cat.extend(bodD["Model Category"])

model = []
model.extend(bodA["Model"])
model.extend(bodB["Model"])
model.extend(bodC["Model"])
model.extend(bodD["Model"])


mse = []
mse.extend(bodA.MSE)
mse.extend(bodB.MSE)
mse.extend(bodC.MSE)
mse.extend(bodD.MSE)

rmse = []
rmse.extend(bodA.RMSE)
rmse.extend(bodB.RMSE)
rmse.extend(bodC.RMSE)
rmse.extend(bodD.RMSE)

mae = []
mae.extend(bodA.MAE)
mae.extend(bodB.MAE)
mae.extend(bodC.MAE)
mae.extend(bodD.MAE)

r2 = []
r2.extend(bodA.R2)
r2.extend(bodB.R2)
r2.extend(bodC.R2)
r2.extend(bodD.R2)


data = pd.DataFrame({
    "Location" : loc,
    "Model Category": model_cat,
    "Model": model,
    "MSE": mse,
    "RMSE": rmse,
    "MAE": mae,
    "R2": r2
})

In [22]:
data

,Location,Model Category,Model,MSE,RMSE,MAE,R2
0,S1,General,CNN,0.562573,0.750049,0.488454,0.999867
1,S1,General,RNN,82.271523,9.070365,7.331510,0.434409
2,S1,General,GRU,61.077115,7.815185,5.814161,0.581083
3,S1,General,LSTM,25.847685,5.084062,4.394436,0.824884
4,S1,MA,CNN,0.749675,0.865838,0.564305,0.998572
...,...,...,...,...,...,...,...
107,S4,MA HY,LSTM RNN GRU,62.778242,7.923272,6.111222,0.547589
108,S4,MA HY,CNN RNN GRU,27.905704,5.282585,4.406249,0.802404
109,S4,MA HY,CNN GRU,269.160040,16.406098,15.557783,-0.960448
110,S4,MA HY,RNN GRU,273.830578,16.547827,15.707148,-0.994575
111,S4,MA HY,RNN LSTM,252.012085,15.874888,14.996597,-0.835147

In [23]:
mse = data.MSE
mae = data.MAE
r2 = data.R2
rmse = data.RMSE

In [24]:
l_mse = ["MSE" for _ in range(0,112)]

msedf = pd.DataFrame({
    "Location": data.Location,
    "Metrics": l_mse,
    "Model Category": data["Model Category"],
    "Model": data.Model,
    "y": mse
})


l_mae = ["MAE" for _ in range(0,112)]

maedf = pd.DataFrame({
    "Location": data.Location,
    "Metrics": l_mae,
    "Model Category": data["Model Category"],
    "Model": data.Model,
    "y": mae
})


l_rmse = ["RMSE" for _ in range(0,112)]

rmsedf = pd.DataFrame({
    "Location": data.Location,
    "Metrics": l_rmse,
    "Model Category": data["Model Category"],
    "Model": data.Model,
    "y": rmse
})


l_r2 = ["R2" for _ in range(0,112)]

r2df = pd.DataFrame({
    "Location": data.Location,
    "Metrics": l_r2,
    "Model Category": data["Model Category"],
    "Model": data.Model,
    "y": r2
})

In [25]:
bodD.tail()

   Model Category         Model         MSE        MAE        R2       RMSE
23          MA HY  LSTM RNN GRU   62.778242   6.111222  0.547589   7.923272
24          MA HY   CNN RNN GRU   27.905704   4.406249  0.802404   5.282585
25          MA HY       CNN GRU  269.160040  15.557783 -0.960448  16.406098
26          MA HY       RNN GRU  273.830578  15.707148 -0.994575  16.547827
27          MA HY      RNN LSTM  252.012085  14.996597 -0.835147  15.874888

In [26]:
msedf

    Location Metrics Model Category         Model           y
0         S1     MSE        General           CNN    0.562573
1         S1     MSE        General           RNN   82.271523
2         S1     MSE        General           GRU   61.077115
3         S1     MSE        General          LSTM   25.847685
4         S1     MSE             MA           CNN    0.749675
..       ...     ...            ...           ...         ...
107       S4     MSE          MA HY  LSTM RNN GRU   62.778242
108       S4     MSE          MA HY   CNN RNN GRU   27.905704
109       S4     MSE          MA HY       CNN GRU  269.160040
110       S4     MSE          MA HY       RNN GRU  273.830578
111       S4     MSE          MA HY      RNN LSTM  252.012085

[112 rows x 5 columns]

In [27]:
metrics = pd.concat([msedf, rmsedf, maedf, r2df], axis=0)

In [28]:
metrics

    Location Metrics Model Category         Model          y
0         S1     MSE        General           CNN   0.562573
1         S1     MSE        General           RNN  82.271523
2         S1     MSE        General           GRU  61.077115
3         S1     MSE        General          LSTM  25.847685
4         S1     MSE             MA           CNN   0.749675
..       ...     ...            ...           ...        ...
107       S4      R2          MA HY  LSTM RNN GRU   0.547589
108       S4      R2          MA HY   CNN RNN GRU   0.802404
109       S4      R2          MA HY       CNN GRU  -0.960448
110       S4      R2          MA HY       RNN GRU  -0.994575
111       S4      R2          MA HY      RNN LSTM  -0.835147

[448 rows x 5 columns]

In [29]:
metrics["Model"] = metrics["Model"].replace("LSTM RNN GRU", "RNN LSTM GRU")

In [30]:
metrics.reset_index(inplace=True)
metrics.drop(columns= "index")

    Location Metrics Model Category         Model          y
0         S1     MSE        General           CNN   0.562573
1         S1     MSE        General           RNN  82.271523
2         S1     MSE        General           GRU  61.077115
3         S1     MSE        General          LSTM  25.847685
4         S1     MSE             MA           CNN   0.749675
..       ...     ...            ...           ...        ...
443       S4      R2          MA HY  RNN LSTM GRU   0.547589
444       S4      R2          MA HY   CNN RNN GRU   0.802404
445       S4      R2          MA HY       CNN GRU  -0.960448
446       S4      R2          MA HY       RNN GRU  -0.994575
447       S4      R2          MA HY      RNN LSTM  -0.835147

[448 rows x 5 columns]

In [31]:
metrics.to_csv("BODmetrics.csv", index=False)

## Data Separation

In [32]:
do = pd.read_csv("DOmetrics.csv", index_col= False)
bod = pd.read_csv("BODmetrics.csv", index_col= False)

In [33]:
i = 112
mse = do[:i]
rmse = do[i:2*i]
mae = do[2*i:3*i]
r2 = do[i*3:]

In [34]:
mse.to_csv("DOMSE.csv", index=False)
rmse.to_csv("DORMSE.csv", index=False)
mae.to_csv("DOMAE.csv", index=False)
r2.to_csv("DOR2.csv", index=False)

In [35]:
i = 112
mse = bod[:i]
rmse = bod[i:2*i]
mae = bod[2*i:3*i]
r2 = bod[i*3:]

In [36]:
mse.to_csv("BODMSE.csv", index=False)
rmse.to_csv("BODRMSE.csv", index=False)
mae.to_csv("BODMAE.csv", index=False)
r2.to_csv("BODR2.csv", index=False)

In [37]:
do.drop(columns="index", inplace=True)
bod.drop(columns="index", inplace=True)

In [38]:
do.head()

  Location Metrics Model Category Model         y
0       S1     MSE        General   CNN  0.018155
1       S1     MSE        General   RNN  0.018867
2       S1     MSE        General   GRU  0.016634
3       S1     MSE        General  LSTM  0.021033
4       S1     MSE             MA   CNN  0.046931

In [39]:
mse["Model Category"].unique()

array(['General', 'MA', 'DReg', 'MA DReg', 'HY', 'MA HY'], dtype=object)

In [40]:
do["Model"].unique()

array(['CNN', 'RNN', 'GRU', 'LSTM', 'CNN LSTM', 'RNN LSTM GRU',
       'CNN RNN GRU', 'CNN GRU', 'RNN GRU', 'RNN LSTM'], dtype=object)

In [41]:
cnn_g = do[(do['Model Category'] == 'General') & (do['Model'] == "CNN")]
cnn_ma = do[(do['Model Category'] == 'MA') & (do['Model'] == "CNN")]
cnn_dreg = do[(do['Model Category'] == 'DReg') & (do['Model'] == "CNN")]

rnn_g = do[(do['Model Category'] == 'General') & (do['Model'] == "RNN")]
rnn_ma = do[(do['Model Category'] == 'MA') & (do['Model'] == "RNN")]
rnn_dreg = do[(do['Model Category'] == 'DReg') & (do['Model'] == "RNN")]

gru_g = do[(do['Model Category'] == 'General') & (do['Model'] == "GRU")]
gru_ma = do[(do['Model Category'] == 'MA') & (do['Model'] == "GRU")]
gru_dreg = do[(do['Model Category'] == 'DReg') & (do['Model'] == "GRU")]


lstm_g = do[(do['Model Category'] == 'General') & (do['Model'] == "LSTM")]
lstm_ma = do[(do['Model Category'] == 'MA') & (do['Model'] == "LSTM")]
lstm_dreg = do[(do['Model Category'] == 'DReg') & (do['Model'] == "LSTM")]


cnn_lstm = do[(do['Model Category'] == 'HY') & (do['Model'] == "CNN LSTM")]
cnn_lstm_ma = do[(do['Model Category'] == 'MA HY') & (do['Model'] == "CNN LSTM")]

lstm_rnn_gru = do[(do['Model Category'] == 'HY') & (do['Model'] == "LSTM RNN GRU")]
lstm_rnn_gru_ma = do[(do['Model Category'] == 'MA HY') & (do['Model'] == "LSTM RNN GRU")]

cnn_rnn_gru = do[(do['Model Category'] == 'HY') & (do['Model'] == "CNN RNN GRU")]
cnn_rnn_gru_ma = do[(do['Model Category'] == 'MA HY') & (do['Model'] == "CNN RNN GRU")]

cnn_gru = do[(do['Model Category'] == 'HY') & (do['Model'] == "CNN GRU")]
cnn_gru_ma = do[(do['Model Category'] == 'MA HY') & (do['Model'] == "CNN GRU")]

rnn_gru = do[(do['Model Category'] == 'HY') & (do['Model'] == "RNN GRU")]
rnn_gru_ma = do[(do['Model Category'] == 'MA HY') & (do['Model'] == "RNN GRU")]

rnn_lstm = do[(do['Model Category'] == 'HY') & (do['Model'] == "RNN LSTM")]
rnn_lstm_ma = do[(do['Model Category'] == 'MA HY') & (do['Model'] == "RNN LSTM")]

In [42]:
cnn_g = cnn_g.groupby(["Metrics"]).mean()
cnn_ma = cnn_ma.groupby(["Metrics"]).mean()
cnn_dreg = cnn_dreg.groupby(["Metrics"]).mean()

cnn_g = cnn_g.groupby(["Metrics"]).mean()
cnn_ma = cnn_ma.groupby(["Metrics"]).mean()
cnn_dreg = cnn_dreg.groupby(["Metrics"]).mean()